[Unit]
Description=Schedule Open Members expire-enrollments

[Timer]
OnCalendar=*-*-* *:00:00 UTC
AccuracySec=1s
Persistent=true
Unit=openmembers-job@expire-enrollments.service

[Install]
WantedBy=timers.target
